.paper {
    width: 35%;
    min-width: 250px;
    max-width: 350px;
    margin-top: 30px;
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-left: auto;
    margin-right: auto;
    padding: 25px 25px 25px 25px;
}

.layout {
    width: 70%;
    display: block;
    margin-left: auto;
    margin-right: auto;
}

.img {
    with: 100px;
    height: 100px;
    margin: 10px;
}
.img2 {
    with: 50px;
    height: 50px;
    margin: 8px;
}

.grid {
    display: grid;
    grid-template-columns: 1fr 3fr;
}

.bottom {
    position:absolute;
    align-self: center;
    bottom: 5%;
}

.rigth {
    text-align: right;
    margin: 10px;
}/*
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
*/
/* 
    Created on : 26/02/2019, 05:56:45 AM
    Author     : Tiffany Estupiñan
*/

